{% load icon %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <style>
        .l-content {
          display: flex;
          justify-content: center;
        }
    </style>
</head>
<body>
    <div class="l-content">
        <form class="pure-form pure-form-aligned" method="POST" action="{% url 'products:add_product' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Add Product</legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="pure-control-group">
                    <label for="aligned-name">Name</label>
                    <input type="text" name="name" id="aligned-name" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-category">Category</label>
                    <input type="text" name="category" id="aligned-category" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-price">Unit Price</label>
                    <input type="number" name="unit_price" min="0" value="0" step="0.01" id="aligned-price" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-stock">Current Stock</label>
                    <input type="number" name="current_stock" min="0" value="0" step="1" id="aligned-stock" required/>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="l-content">
        {% if product_list %}
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price/Unit</th>
                        <th>Current Stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in product_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.unit_price }}</td>
                            <td>{{ product.current_stock }}</td>
                            <td>
                                <a href="{% url 'products:update_product' product.id %}">{% icon "eye" %}</a>
                                <a href="{% url 'products:delete_product' product.id %}">{% icon "trash-2" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3><strong>{{ no_product_message }}</strong></h3>
        {% endif %}
    </div>
</body>
</html>