{% extends 'base.html' %}

{% block title %}Update Product{% endblock %}

{% block content %}
    <div class="l-content">
        <form class="pure-form pure-form-aligned" method="POST" action="{% url 'products:update_product' product.id %}">
            {% csrf_token %}
            <fieldset>
                <legend>Update Product</legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <div class="pure-control-group">
                    <label for="aligned-name">Code</label>
                    <input type="text" name="name" id="aligned-name" value="{{ product.code }}" readonly/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-name">Name</label>
                    <input type="text" name="name" id="aligned-name" value="{{ product.name }}" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-category">Category</label>
                    <input type="text" name="category" id="aligned-category" value="{{ product.category }}" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-price">Unit Price</label>
                    <input type="number" name="unit_price" min="0" value="{{ product.unit_price }}" step="1" id="aligned-price" required/>
                </div>
                <div class="pure-control-group">
                    <label for="aligned-stock">Current Stock</label>
                    <input type="number" name="current_stock" min="0" value="{{ product.current_stock }}" step="1" id="aligned-stock" required/>
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Update</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}